.form_content
	%p New entry:
	= simple_form_for(Entry.new, scope: :entry, method: :post, url: blog_entries_path) do |f|
		= f.input :title
		= f.input :body
		= f.file_field :image
		= f.button :submit, 'Save'
= link_to "Back", :back

