.form_content
	%p New entry:
	= form_with(model: Entry.new, scope: :entry, method: :post, url: blog_entries_path) do |f|
		= f.text_field :title
		= f.text_field :body
		= f.submit :save
= link_to "Back"

